/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,600&family=Lato&family=Roboto+Mono:wght@100&display=swap'); */
body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
}

code {
  font-family: 'Cormorant Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto Mono', monospace;
}

/* body html{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
} */